.second{
  padding: 1%;
  display: flex;
  align-items: center;
}
.second img{
  height: 500px;
  width: auto;
  margin-right: 6%;
  border-radius: 20px;
}


.bus{ 
 position: fixed;
 margin-left: 32%;
 margin-top: -3%;
} 
.bus button { 
  background: transparent; 
  border:none; 
  outline:none; 
  display:block; 
  cursor:pointer;; 
  width: 50px; 
  height: 50px;
  position: absolute;
} 
.bus button:focus { 
  transform: translateY(2px); 
} 
.bus p { 
  background-color: #beb083;
  color: #312726; 
  font-weight: 700; 
  margin-left: 20px; 
  opacity: 0; 
  font-size: 25px; 
  width: 300px;
  border-radius: 20px;
  border: 2px solid #312726;
  padding: 1%;
} 
 
.bus button:focus~p { 
  opacity: 1; 
}
